body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

form div {
  margin: 1em;
  display: inline-block;
}

.no-pad {
  padding: 0;
}

.meme-card:hover {
  color: white;
  background: lightgrey;
  transition: 0.6s;
}

.center {
  margin: 0 auto;
  text-align: center;
}