//Customized Variables

//Initial variable (our color pallete)
$red: #ea443c;
$black: #080808;
$darkgrey: #4d5560;
$grey: #9cacbb;
$lightgrey: #f5f9fc;
$lightblue: #30c9e9;

//Derived variables
$primary: $red;

//Custom CSS

//Navbar customization
#nav-search {
  margin: $size-3;
}

.navbar {
  font-size: 1.075rem;
}

.navbar-burger {
  height: auto;
}

#footer {
  background-color: $lightgrey;
}

#graph-subtitle {
  text-align: center;
}
